@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap');

.navContainer {
  width: 100%;
  height: 70px;
  overflow: hidden;
}

.navContainer h1 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 30px;
}


.container {
  width: 700px;
  height: 500px;
  background-color: black;
  margin: auto;
}

.muro {
  width: 700px;
  height: 500px;
  background: rgb(0, 0, 0);
  perspective: 120px;
  display: flex;
  overflow: hidden;
  position: relative;
  margin: auto;
  opacity: 0.3;
}

.wallBack {
  width: 255px;
  height: 200px;
  position: absolute;
  z-index: -100;
  margin-left: 235px;
  margin-top: 140px;
  transform-style: preserve-3d;
  background-image: url("./backwall.png");
  background-size: cover;
  background-position: -13% 75%;
  opacity: 0.5;
}

.dustParticles {
  display: none;
}

.light {
  width: 254px;
  height: 250px;
  margin-top: 120px;
  margin-left: 240px;
  position: absolute;
  z-index: 90;
  transform: rotateY(5deg);
  animation: blinker 1.3s infinite;
}

@keyframes blinker {
  0% {
    opacity: 0.5;
    box-shadow: -200px 101px 96px 33px rgba(209, 209, 209, 0.12) inset;
  }
  15% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  55% {
    opacity: 1;
    box-shadow: -200px 101px 96px 33px rgba(209, 209, 209, 0.12) inset;
  }
  65% {
    opacity: 1;
    box-shadow: -200px 101px 96px 33px rgba(209, 209, 209, 0.12) inset;
  }
  75% {
    opacity: 0;
  }
  85% {
    opacity: 0;
  }
}

.floor {
  width: 430px;
  height: 200px;
  position: absolute;
  z-index: -100;
  margin-left: 160px;
  margin-top: 290px;
  transform-style: preserve-3d;
  background-image: url("/src/styles/floor2.png");
  background-size: cover;
  transform: rotateX(100deg);
  transform-origin: 50% 50% 0px;
  opacity: 0.1;
}

.sky {
  width: 450px;
  height: 200px;
  position: absolute;
  z-index: -100;
  margin-left: 169px;
  transform: rotateX(100deg);
  transform-origin: 50% 50% 0px;
  background-image: url("/src/styles/sky.png");
  background-size: cover;
  opacity: 0.3;
}

.wall1 {
  width: 400px;
  height: 500px;
  background-image: url("./wall1.png");
  background-size: cover;
  transform: rotateX(0deg) rotateY(115deg);
  background-position: -13% 75%;
  opacity: 0.6;
}

.config {
  width: 110px;
  height: 90px;
  background-image: url("./configIndication.png");
  background-size: cover;
  margin-left: 120px;
  margin-top: 90px;
  cursor: pointer;
}

.modal {
  width: 500px;
  height: 400px;
  margin: auto;
  background-color: black;
  color: white;
  border: none;
}

.config__Tittle {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Cabin', sans-serif;
}

.configParametros {
  width: 200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.configParametros label{
  margin-top: 10px;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 20px;
}

.configParametros select{
  width: 50px;
  cursor: pointer;
  margin-top: 10px;
}

.configParametros button{
  width: 100px;
  cursor: pointer;
  margin-top: 10px;
}

.wall2 {
  width: 400px;
  height: 500px;
  background-image: url("./wall2.png");
  background-size: cover;
  transform: rotateY(52deg);
  background-position: 50% 75%;
}

.see__More {
  width: 100px;
  height: 70px;
  cursor: pointer;
  position: absolute;
  z-index: 150;
  margin-left: 270px;
  margin-top: 150px;
  background-image: url("./SeeMore2.png.png");
  background-size: cover;
  background-color: black;
  opacity: 0.4;
}

.box {
  width: 100px;
  margin-left: 270px;
  margin-top: 266px;
  height: 100px;
  position: absolute;
  z-index: 150;
  opacity: 0.5;
}

.Overlay {
  position: absolute;
  inset: 0px;
  backdrop-filter: blur(2px);
}

.btn__Modal--close {
  cursor: pointer;
  float: right;
  margin-top: 5px;
  width: 30px;
  height: 30px;
}

